@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 144rem) minmax(0, 1fr);
    grid-template-areas: ". content .";
}

.header {
    grid-area: content;
    overflow: hidden;
}

.main {
    grid-area: content;
}

.nav {
    display: flex;
    gap: 3.2rem;
}

.nav a {
    text-decoration: none;
    color: #FFF;
    text-transform: lowercase;
    position: relative;
}

.nav a:hover:before {
    content: '';
    display: block;
    height: 2px;
    width: 1.6rem;
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header .wrapper {
    display: flex;
    gap: 5.6rem;
    position: relative;
    z-index: 10;
    top: 6.4rem;
    left: 6.4rem;
    min-height: 2.4rem;
}

.hero {
    display: grid;
    grid-template-columns: minmax(0, 84rem) minmax(0, 60rem);
}

.hero__content {
    max-width: 39.9rem;
    justify-self: center;
    align-self: center;
}

.hero__content h1 {
    margin-bottom: 1.6rem;
    color: #000;
}

.hero__content p {
    margin-bottom: 2.4rem;
    color: #A0A0A0;
}

.hero__image {
    position: relative;
}

.text-preset-1 {
    font-family: "League Spartan", sans-serif;
    font-size: 4.8rem;
    line-height: 90%;
    letter-spacing: -2px;
    font-weight: 600;
}

.text-preset-3-md {
    font-family: "League Spartan", sans-serif;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-weight: 500;
}

.text-preset-3-sb {
    font-family: "League Spartan", sans-serif;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: -0.7px;
    font-weight: 600;
}

.text-preset-3-b {
    font-family: "League Spartan", sans-serif;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 7px;
    font-weight: 700;
}

.text-preset-4 {
    font-family: "League Spartan", sans-serif;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 12.5px;
    font-weight: 500;
}

.link--shop-now {
    display: flex;
    gap: 3.2rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.link--shop-now span {
    mask-image: url("../images/icon-arrow.svg");
    mask-repeat: no-repeat;
    height: 1.2rem;
    width: 4rem;
    background: #000;
}

.link--shop-now:active {
    color: #A0A0A0;
}

.link--shop-now:active span {
    background-color: #A0A0A0;
}

.about {
    display: grid;
    grid-template-columns: minmax(0, 42rem) minmax(0, 58rem) minmax(0, 44rem);
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 48.4rem;
    justify-self: center;
    align-self: center;
    margin: 2.4rem 3.2rem;
}

.about__content h2 {
    text-transform: uppercase;
    color: #000;
}

.about__content p {
    color: #A0A0A0;
}

.btn-container {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
}

.btn-container button {
    border: none;
    background: #000;
    cursor: pointer;
    height: 8rem;
    width: 8rem;
}

.btn-container button:active {
    background-color: #444;
}

.btn-container button[aria-label="previous"] {
    background-image: url("../images/icon-angle-left.svg");
}

.btn-container button[aria-label="next"] {
    background-image: url("../images/icon-angle-right.svg");
}

.btn-container button[aria-label="previous"], button[aria-label="next"] {
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 83.625em) {
    .btn-container {
        transform: translateX(0);
    }

    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text img1"
                             "text img2";
    }

    .about__content {
        grid-area: text;
    }
}

@media only screen and (max-width: 57.625em) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero__content{
        padding: 6.4rem 3.2rem;
        max-width: 64rem;
    }

    .about__content {
        max-width: 64rem;
    }
    .about {
        grid-template-columns: 1fr !important;
        grid-template-areas: "img1" "text" "img2";
        grid-template-rows: minmax(0, 30rem) max-content minmax(0, 24.3rem);
    }
    .about img {
        height: 100%;
    }
}

@media only screen and (max-width: 28.5em) {
    .btn-container button {
        width: 5.6rem;
        height: 5.6rem;
    }

    .link--shop-now {
        justify-content: space-between;
    }
}