.hero
  display: flex
  justify-content: center
  max-width: 144rem
  min-height: 73.7rem
  position: relative
  padding: 7.2rem 0 var(--spacing-1100) 0
  margin-inline: auto

  &:before
    content: ""
    display: flex
    position: absolute
    top: 0
    left: 0
    max-width: 100.2rem
    width: 100%
    height: 73.7rem
    background: linear-gradient(90deg, rgba(214, 252, 254, 0) 0%, #D6E6FE 100%)
    border-radius: 0 0 3.5rem 3.5rem
    z-index: -10

  &__content
    display: flex
    flex-direction: column
    gap: 4.2rem
    max-width: 116rem
    width: 100%

  &__text-form
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: var(--spacing-400)

  &__text-container
    padding-top: 9.3rem
    display: flex
    flex-direction: column
    gap: var(--spacing-400)

    h1
      max-width: 47rem

    p
      max-width: 46.5rem

@media only screen and (max-width: 65.875rem)
  .hero
    padding: var(--spacing-400) var(--spacing-500) 0 var(--spacing-400)

    &::before
      max-height: 64rem

    &__content
      gap: var(--spacing-500)

      nav
        text-align: center

        img
          width: 4rem
          height: 4rem

    &__text-form
      grid-template-columns: 1fr
      justify-items: center
      row-gap: var(--spacing-500)

    &__text-container
      text-align: center
      padding-top: 0
      gap: var(--spacing-300)
      align-items: center

      h1
        justify-self: center

      p
        max-width: inherit

@media only screen and (max-width: 43.125rem)
  .hero
    padding: var(--spacing-400) var(--spacing-200) 6.1rem var(--spacing-200)

    &__content, &__text-form
      gap: var(--spacing-400)

  .height-weight--metric
    grid-template-columns: 1fr


