.header
  display: flex
  justify-content: space-between
  max-width: 111rem
  width: 100%
  margin: 2.8rem auto var(--spacing-1200) auto
  border-bottom: 1px solid var(--grey-100)
  padding-bottom: var(--spacing-400)
  position: relative
