@use "../abstracts/mixins"
@use "../abstracts/variables"

.header
  &__link
    @include mixins.text-preset(var(--white), variables.$typography-6...)

  &__title
    h1
      @include mixins.text-preset(var(--white), variables.$typography-1...)
      text-transform: uppercase

.about
  &__title
    @include mixins.text-preset(var(--black), variables.$typography-2...)
    text-transform: uppercase

  &__description
    @include mixins.text-preset(rgba(0, 0, 0, 0.5), variables.$typography-6...)

.gallery__name
  @include mixins.text-preset(var(--white), variables.$typography-4...)
  text-transform: uppercase

.creation
  &__title
    @include mixins.text-preset(var(--black), variables.$typography-2...)
    text-transform: uppercase

.btn--see-all
  @include mixins.text-preset(var(--black), variables.$typography-7...)
  text-transform: uppercase

  &:active
    color: var(--white)

.copyright
  @include mixins.text-preset(rgba(255, 255, 255, 0.5), variables.$typography-6...)

.footer
  &__link
    @include mixins.text-preset(var(--white), variables.$typography-6...)

.menu
  &__link
    @include mixins.text-preset(var(--white), variables.$typography-5...)
    text-transform: uppercase

@media only screen and (max-width: 50.75em)
  .gallery__name
    @include mixins.text-preset(var(--white), variables.$typography-5...)

@media only screen and (max-width: 40.25em)
  .header
    &__title
      h1
        @include mixins.text-preset(var(--white), variables.$typography-3...)

  .about
    &__title
      @include mixins.text-preset(var(--black), variables.$typography-4...)

  .creation
    &__title
      @include mixins.text-preset(var(--black), variables.$typography-4...)