.product
  &__content
    align-self: center
    display: flex
    flex-direction: column
    gap: var(--spacing-400)

  &__header
    display: flex
    flex-direction: column
    gap: var(--spacing-300)

  &__price-container
    display: flex
    gap: var(--spacing-200)

  &__prices
    display: flex
    flex-direction: column
    gap: var(--spacing-100)

  &__discount
    display: flex
    align-items: center
    justify-content: center
    align-self: flex-start

    max-width: 5.1rem
    width: 100%
    min-height: 2.7rem
    background-color: var(--grey-950)
    border-radius: 0.6rem

.cta
  display: grid
  grid-template-columns: minmax(0, 15.7rem) 1fr
  column-gap: var(--spacing-200)

.actions__container
  display: flex
  justify-content: space-between
  align-items: center
  background-color: var(--grey-50)
  padding: var(--spacing-200) var(--spacing-100)
  border-radius: 1rem

.btn__add-cart
  display: flex
  gap: var(--spacing-200)
  justify-content: center
  align-items: center
  padding:
    top: var(--spacing-200)
    bottom: var(--spacing-200)
  background-color: var(--orange-500)
  border-radius: 1rem
  box-shadow: 0 20px 50px -20px rgba(255, 126, 27, 0.25)

  &:active
    background: var(--orange-300)

  span
    display: inline-block
    width: 2.2rem
    height: 2rem
    mask-image: url("/images/icon-cart.svg")
    background-color: var(--grey-950)

.btn__decrease-quantity, .btn__increase-quantity
  display: flex
  align-items: center
  justify-content: center
  background-color: transparent

.btn__decrease-quantity
  mask-image: url("/images/icon-minus.svg")
  background-color: var(--orange-500)
  width: 1rem
  height: 1.2rem
  mask-repeat: no-repeat
  mask-position: center

  &:active
    background-color: var(--orange-300)


.btn__increase-quantity
  mask-image: url("/images/icon-plus.svg")
  background-color: var(--orange-500)
  width: 1.2rem
  height: 1.2rem
  mask-repeat: no-repeat
  mask-position: center

  &:active
    background-color: var(--orange-300)

@media only screen and (max-width: 56em)
  .product
    &__content
      gap: var(--spacing-300)

    &__header
      gap: var(--spacing-300)

    &__price-container
      gap: var(--spacing-300)

  .cta
    grid-template-columns: 1fr 1fr
    column-gap: var(--spacing-100)

  .actions__container
    padding: var(--spacing-200) var(--spacing-300)

@media only screen and (max-width: 26.5em)
  .product
    &__content
      padding-inline: var(--spacing-300)
      gap: var(--spacing-0)

    &__header
      gap: var(--spacing-200)

    &__name
      margin-bottom: var(--spacing-200)

    &__description, &__price-container
      margin-bottom: var(--spacing-400)

    &__price-container
      gap: var(--spacing-200)
      position: relative

    &__actual-price
      position: absolute
      right: 0

  .cta
    grid-template-columns: 1fr
    row-gap: var(--spacing-200)


