.product-container
  display: flex
  justify-content: center
  max-width: 111rem
  width: 100%
  margin-inline: auto

  .product
    display: grid
    grid-template-columns: minmax(20rem, 44.8rem) minmax(20rem, 44.5rem)
    column-gap: var(--spacing-1600)

    // MAY BE REMOVE LATER
    min-height: 56.5rem



