@use "../abstracts/mixins"

@include mixins.style-gallery

.product__images
  display: grid
  grid-template-columns: repeat(4, 1fr)
  column-gap: var(--spacing-400)

  img
    border-radius: 1rem

.product__gallery
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 44.5rem auto
  row-gap: var(--spacing-400)

  img
    display: inline-block
    width: 100%

.product__main-image
  overflow: hidden
  border-radius: 1.5rem
  cursor: pointer

  img
    border-radius: 1.5rem

.thumbnail-container
  display: flex
  position: relative
  border-radius: 1rem
  overflow: hidden
  cursor: pointer

  &:hover:before
    content: ""
    display: block
    position: absolute
    width: 100%
    height: 100%
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))

.move-image
  display: none



