@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --spacing-0: 0;
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-800: 6.4rem;
  --spacing-1000: 8rem;
  --white: #FFFFFF;
  --black: #000000;
  --grey-200: #D8D8D8;
  --blue-100: #E5EAF1;
  --blue-50: #F6FAFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header__link {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 165%;
  letter-spacing: 0;
}
.header__title h1 {
  color: var(--white);
  font-size: 7.2rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about__title {
  color: var(--black);
  font-size: 4.8rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}
.about__description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 165%;
  letter-spacing: 0;
}

.gallery__name {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.creation__title {
  color: var(--black);
  font-size: 4.8rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.btn--see-all {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.btn--see-all:active {
  color: var(--white);
}

.header {
  min-height: 65rem;
  width: 100%;
  background-image: url("../../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(111rem + 2 * var(--spacing-300));
  min-height: 50.4rem;
  margin-inline: auto;
  padding-top: var(--spacing-800);
  position: relative;
  padding-inline: var(--spacing-300);
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-400);
  height: 100%;
}
.header__nav-list li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}
.header__nav-list li a {
  display: inline-block;
  height: 100%;
  position: relative;
}
.header__nav-list li a:visited::before, .header__nav-list li a:active::before, .header__nav-list li a:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.4rem;
  height: 2px;
  background: var(--white);
}
.header__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 65rem;
  min-height: 27.8rem;
  border: 2px solid var(--white);
}
.header__title h1 {
  max-width: 57rem;
}

.nav-list-container {
  max-width: 38rem;
  width: 100%;
}

.logo {
  display: inline-block;
  background-image: url("../../images/logo.svg");
  width: 20rem;
  height: 3.5rem;
  background-repeat: no-repeat;
}

.about {
  background: var(--white);
  padding-top: 16rem;
}
.about__content {
  margin-inline: auto;
  max-width: calc(111.1rem + 2 * var(--spacing-300));
  max-height: 50rem;
  padding-inline: var(--spacing-300);
  position: relative;
}
.about__picture img {
  max-width: 73.1rem;
  width: 100%;
}
.about__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: var(--spacing-300);
  bottom: 0;
  max-width: 54.1rem;
  width: 100%;
  min-height: 31.7rem;
  background: var(--white);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  max-width: 44.5rem;
}

.creation {
  background: var(--white);
  padding-top: 18.4rem;
}
.creation__content {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: var(--spacing-1000);
  margin-inline: auto;
  max-width: calc(112rem + 2 * var(--spacing-300));
  padding-inline: var(--spacing-300);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 45rem 45rem;
  row-gap: var(--spacing-400);
  column-gap: var(--spacing-400);
  grid-column: 1/-1;
}
.gallery img {
  width: 100%;
}
.gallery__item {
  background: var(--grey-200);
  position: relative;
}
.gallery__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  position: absolute;
}
.gallery__item:hover::after {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}
.gallery__item:hover .gallery__name {
  color: var(--black);
}
.gallery__name {
  position: absolute;
  left: var(--spacing-500);
  bottom: var(--spacing-400);
  max-width: 17rem;
  z-index: 100;
}

.btn--see-all {
  justify-self: end;
  align-self: center;
  background: transparent;
  border: 1px solid var(--black);
  max-width: 15.7rem;
  width: 100%;
  min-height: 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn--see-all:active {
  background: var(--black);
}

/*# sourceMappingURL=style.css.map */
