@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --spacing-0: 0;
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-800: 6.4rem;
  --spacing-1000: 8rem;
  --white: #FFFFFF;
  --black: #000000;
  --grey-200: #D8D8D8;
  --blue-100: #E5EAF1;
  --blue-50: #F6FAFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header__link {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 165%;
  letter-spacing: 0;
}
.header__title h1 {
  color: var(--white);
  font-size: 7.2rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about__title {
  color: var(--black);
  font-size: 4.8rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}
.about__description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 165%;
  letter-spacing: 0;
}

.gallery__name {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.creation__title {
  color: var(--black);
  font-size: 4.8rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.btn--see-all {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.btn--see-all:active {
  color: var(--white);
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 165%;
  letter-spacing: 0;
}

.footer__link {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  line-height: 165%;
  letter-spacing: 0;
}

.menu__link {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 50.75em) {
  .gallery__name {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    line-height: 100%;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 40.25em) {
  .header__title h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    line-height: 100%;
    letter-spacing: 0;
  }
  .about__title {
    color: var(--black);
    font-size: 3.2rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    line-height: 100%;
    letter-spacing: 0;
  }
  .creation__title {
    color: var(--black);
    font-size: 3.2rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    line-height: 100%;
    letter-spacing: 0;
  }
}
.header {
  min-height: 65rem;
  width: 100%;
  background-image: url("../../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
.header__content {
  display: flex;
  flex-direction: column;
  max-width: calc(111rem + 2 * var(--spacing-300));
  min-height: 50.4rem;
  margin-inline: auto;
  padding-top: var(--spacing-800);
  position: relative;
  padding-inline: var(--spacing-300);
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 3.2rem;
}
.header__nav .logo {
  position: absolute;
  z-index: 100;
}
.header__nav .nav-list-container {
  position: absolute;
  right: 0;
}
.header__nav .mobile-nav {
  position: relative;
  margin-left: auto;
  margin-top: 5px;
}
.header__nav .mobile-nav label {
  position: absolute;
  right: 0;
  width: 2.4rem !important;
  z-index: 100;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-400);
  height: 100%;
}
.header__nav-list li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}
.header__nav-list li a {
  display: inline-block;
  height: 100%;
}
.header__nav-list li a:visited::before, .header__nav-list li a:active::before, .header__nav-list li a:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.4rem;
  height: 2px;
  background: var(--white);
}
.header__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 65rem;
  min-height: 27.8rem;
  border: 2px solid var(--white);
  margin-top: auto;
}
.header__title h1 {
  max-width: 57rem;
}

.nav-list-container {
  max-width: 38rem;
  width: 100%;
}

.logo {
  display: inline-block;
}

.mobile-nav {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  width: calc(100vw + 2.4rem);
  height: 100vh;
  background: var(--black);
  z-index: 1;
  top: calc(var(--spacing-800) * -1 - 5px);
  left: -100vw;
}
.menu__nav-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin: 22.3rem 4.8rem;
}

@media only screen and (max-width: 50.75em) {
  .header .nav-list-container {
    display: none;
  }
  .header .mobile-nav {
    display: block;
  }
  .header .mobile-nav input[type=checkbox] {
    display: none;
  }
  .header .mobile-nav input[type=checkbox]:checked + .menu {
    display: block;
  }
  .header .mobile-nav label {
    display: inline-block;
    height: 2.2rem !important;
    width: 3.2rem;
    background-image: url("../../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 40.25em) {
  .header__content {
    min-height: 42.3rem;
  }
  .header__nav a {
    display: inline-block;
    height: 2.4rem;
  }
  .header__nav img {
    height: 100%;
  }
  .header__title {
    min-height: 19.6rem;
    padding: 1.8rem 2.4rem;
  }
  .header__title h1 {
    max-width: 40rem;
  }
  .mobile-nav img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 27.125em) {
  .header {
    background-image: url("../../images/mobile/image-hero.jpg");
  }
  .header__content {
    padding-top: var(--spacing-500);
  }
  .menu {
    top: calc(var(--spacing-500) * -1 - 5px);
  }
  .menu__nav-list {
    margin: 19.9rem 4.8rem;
  }
}
.about {
  background: var(--white);
  padding-top: 16rem;
}
.about__content {
  margin-inline: auto;
  max-width: calc(111.1rem + 2 * var(--spacing-300));
  max-height: 50rem;
  padding-inline: var(--spacing-300);
  position: relative;
}
.about__picture img {
  max-width: 73.1rem;
  width: 100%;
}
.about__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: var(--spacing-300);
  bottom: 0;
  max-width: 54.1rem;
  width: 100%;
  min-height: 31.7rem;
  background: var(--white);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  max-width: 44.5rem;
}

@media only screen and (max-width: 50.75em) {
  .about {
    padding-top: 9.6rem;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
    max-height: max-content;
  }
  .about__text {
    position: relative;
    text-align: center;
    min-height: max-content;
    max-width: inherit;
  }
  .about__text .text-container {
    max-width: inherit;
    margin-left: 2.4rem;
  }
  .about__picture {
    height: 28.4rem;
  }
  .about__picture img {
    height: 100%;
  }
}
.creation {
  background: var(--white);
  padding-top: 18.4rem;
}
.creation__content {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: var(--spacing-1000);
  margin-inline: auto;
  max-width: calc(112rem + 2 * var(--spacing-300));
  padding-inline: var(--spacing-300);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  row-gap: var(--spacing-400);
  column-gap: var(--spacing-400);
  grid-column: 1/-1;
}
.gallery img {
  width: 100%;
  height: 100%;
}
.gallery__item {
  background: var(--grey-200);
  position: relative;
  height: 45rem;
}
.gallery__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 32rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  position: absolute;
  bottom: 0;
}
.gallery__item:hover::after {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}
.gallery__item:hover .gallery__name {
  color: var(--black);
}
.gallery__name {
  position: absolute;
  left: var(--spacing-500);
  bottom: var(--spacing-400);
  max-width: 17rem;
  z-index: 100;
}

.btn--see-all {
  justify-self: end;
  align-self: center;
  background: transparent;
  border: 1px solid var(--black);
  max-width: 15.7rem;
  width: 100%;
  min-height: 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn--see-all:active {
  background: var(--black);
}

@media only screen and (max-width: 50.75em) {
  .creation {
    padding-top: 9.6rem;
  }
  .creation__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--spacing-400);
  }
  .creation .btn--see-all {
    order: 1;
    justify-self: center;
  }
  .creation__title {
    justify-self: center;
  }
  .gallery {
    grid-template-columns: 1fr;
    row-gap: var(--spacing-300);
  }
  .gallery__item {
    height: 12rem;
    position: relative;
    overflow: hidden;
  }
  .gallery__item::before {
    width: 73%;
    height: 12rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    top: 0;
  }
  .gallery__item img {
    height: unset;
    object-fit: cover;
  }
  .gallery__name {
    max-width: 14rem;
    bottom: 2rem;
    left: 3.7rem;
  }
}
@media only screen and (max-width: 27.125em) {
  .gallery__name {
    left: 2rem;
  }
  .gallery__item img {
    height: 100%;
  }
}
.footer {
  background: var(--black);
  margin-top: 18.2rem;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: auto;
  max-width: calc(111rem + 2 * var(--spacing-300));
  padding: 4.5rem var(--spacing-300) var(--spacing-400) var(--spacing-300);
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.footer__nav a {
  display: inline-block;
  height: 2.4rem;
}
.footer__logo {
  height: 100%;
}
.footer__nav-list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-400);
  min-height: 3.5rem;
}
.footer__nav-list li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: inherit;
}
.footer__nav-list a {
  display: inline-block;
  position: relative;
  height: 100%;
}
.footer__nav-list a:visited::before, .footer__nav-list a:active::before, .footer__nav-list a:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.4rem;
  height: 2px;
  background: var(--white);
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-300);
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-200);
  height: 2.4rem;
}
.social li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.4rem;
}
.social li a {
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 50.75em) {
  .footer {
    margin-top: 8.7rem;
  }
  .footer__nav-list {
    gap: var(--spacing-200);
  }
}
@media only screen and (max-width: 40.25em) {
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-500);
  }
  .footer__nav {
    align-items: center;
  }
  .social {
    align-self: center;
  }
}
@media only screen and (max-width: 27.125em) {
  .footer {
    margin-top: 9.8rem;
  }
  .footer__content {
    padding: 5.6rem;
  }
  .footer__nav {
    gap: var(--spacing-500);
  }
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
  }
  .connect {
    gap: var(--spacing-200);
  }
  .copyright {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
