@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey-950: #1D2026;
  --grey-500: #69707D;
  --grey-300: #C3CAD9;
  --grey-100: #E4E9F2;
  --grey-50: #F6F8FD;
  --orange-500: #FF7E1B;
  --orange-300: #FFAB6A;
  --spacing-0: 0;
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-700: 5.6rem;
  --spacing-900: 7.2rem;
  --spacing-1000: 8rem;
  --spacing-1200: 9.6rem;
  --spacing-1300: 10.4rem;
  --spacing-1600: 12.8rem;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

main {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 111rem;
  width: 100%;
  margin: 2.8rem auto var(--spacing-1200) auto;
  border-bottom: 1px solid var(--grey-100);
  padding-bottom: var(--spacing-400);
  position: relative;
}

@media only screen and (max-width: 56em) {
  .header {
    margin-bottom: var(--spacing-600);
    max-width: 60.8rem;
  }
}
@media only screen and (max-width: 26.5em) {
  .header {
    margin-top: 1.9rem;
    padding-inline: var(--spacing-300);
    padding-bottom: var(--spacing-300);
    border-bottom: 0;
    margin-bottom: var(--spacing-0);
  }
}
.navigation {
  display: flex;
  gap: var(--spacing-700);
  align-items: center;
}
.navigation nav ul {
  display: flex;
  gap: var(--spacing-400);
}
.navigation nav a {
  padding-bottom: 4.4rem;
}
.navigation nav ul[data-tab=collections] li:nth-child(1) a {
  border-bottom: 4px solid var(--orange-500);
  color: var(--grey-950);
}
.navigation nav ul[data-tab=men] li:nth-child(2) a {
  border-bottom: 4px solid var(--orange-500);
  color: var(--grey-950);
}
.navigation nav ul[data-tab=women] li:nth-child(3) a {
  border-bottom: 4px solid var(--orange-500);
  color: var(--grey-950);
}
.navigation nav ul[data-tab=about] li:nth-child(4) a {
  border-bottom: 4px solid var(--orange-500);
  color: var(--grey-950);
}
.navigation nav ul[data-tab=contact] li:nth-child(5) a {
  border-bottom: 4px solid var(--orange-500);
  color: var(--grey-950);
}

.btn__menu {
  display: none;
}

@media only screen and (max-width: 56em) {
  .navigation nav {
    display: none;
  }
  .btn__menu {
    display: flex;
    order: 1;
  }
  .navigation a {
    order: 2;
  }
  .navigation {
    gap: var(--spacing-200);
  }
}
.cart-profile {
  display: flex;
  gap: var(--spacing-600);
  align-items: center;
}
.cart-profile button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 0;
  width: 2.8rem;
  height: 2.6rem;
  position: relative;
  background-color: transparent;
}
.cart-profile button:before {
  content: "";
  display: block;
  width: 2.8rem;
  height: 2.6rem;
  mask-image: url("/images/icon-cart.svg");
  background-color: var(--grey-500);
  mask-repeat: no-repeat;
  mask-position: bottom;
}
.cart-profile button .item-quantity-notification {
  display: inline-block;
  width: 19px;
  height: 13px;
  background-color: var(--orange-500);
  border-radius: 0.65rem;
  position: absolute;
  right: 0;
  top: 0;
}
.cart-profile button[data-open=true]:before {
  background-color: var(--grey-950);
}
.cart-profile .user-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
.cart-profile .user-avatar[data-open=true] {
  border: 2px solid var(--orange-500);
}

@media only screen and (max-width: 26.5em) {
  .cart-profile {
    gap: var(--spacing-200);
  }
  .cart-profile button:before {
    mask-position: center;
  }
  .user-avatar {
    height: 2.4rem !important;
    width: 2.4rem !important;
  }
}
.product-container {
  display: flex;
  justify-content: center;
  max-width: 111rem;
  width: 100%;
  margin-inline: auto;
}
.product-container .product {
  display: grid;
  grid-template-columns: minmax(20rem, 44.8rem) minmax(20rem, 44.5rem);
  column-gap: var(--spacing-1600);
  max-height: 56.5rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56em) {
  .product-container .product {
    grid-template-columns: 1fr;
    row-gap: var(--spacing-600);
    max-width: 60.8rem;
    max-height: fit-content;
  }
}
.product__content {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.product__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.product__price-container {
  display: flex;
  gap: var(--spacing-200);
}
.product__prices {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
.product__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  max-width: 5.1rem;
  width: 100%;
  min-height: 2.7rem;
  background-color: var(--grey-950);
  border-radius: 0.6rem;
}

.cta {
  display: grid;
  grid-template-columns: minmax(0, 15.7rem) 1fr;
  column-gap: var(--spacing-200);
}

.actions__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-50);
  padding: var(--spacing-200) var(--spacing-100);
  border-radius: 1rem;
}

.btn__add-cart {
  display: flex;
  gap: var(--spacing-200);
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-200);
  padding-bottom: var(--spacing-200);
  background-color: var(--orange-500);
  border-radius: 1rem;
  box-shadow: 0 20px 50px -20px rgba(255, 126, 27, 0.25);
}
.btn__add-cart:active {
  background: var(--orange-300);
}
.btn__add-cart span {
  display: inline-block;
  width: 2.2rem;
  height: 2rem;
  mask-image: url("/images/icon-cart.svg");
  background-color: var(--grey-950);
}

.btn__decrease-quantity, .btn__increase-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.btn__decrease-quantity {
  mask-image: url("/images/icon-minus.svg");
  background-color: var(--orange-500);
  width: 1rem;
  height: 1.2rem;
  mask-repeat: no-repeat;
  mask-position: center;
}
.btn__decrease-quantity:active {
  background-color: var(--orange-300);
}

.btn__increase-quantity {
  mask-image: url("/images/icon-plus.svg");
  background-color: var(--orange-500);
  width: 1.2rem;
  height: 1.2rem;
  mask-repeat: no-repeat;
  mask-position: center;
}
.btn__increase-quantity:active {
  background-color: var(--orange-300);
}

@media only screen and (max-width: 56em) {
  .product__content {
    gap: var(--spacing-300);
  }
  .product__header {
    gap: var(--spacing-300);
  }
  .product__price-container {
    gap: var(--spacing-300);
  }
  .cta {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-100);
  }
  .actions__container {
    padding: var(--spacing-200) var(--spacing-300);
  }
}
@media only screen and (max-width: 26.5em) {
  .product__content {
    padding-inline: var(--spacing-300);
    gap: var(--spacing-0);
  }
  .product__header {
    gap: var(--spacing-200);
  }
  .product__name {
    margin-bottom: var(--spacing-200);
  }
  .product__description, .product__price-container {
    margin-bottom: var(--spacing-400);
  }
  .product__price-container {
    gap: var(--spacing-200);
    position: relative;
  }
  .product__actual-price {
    position: absolute;
    right: 0;
  }
  .cta {
    grid-template-columns: 1fr;
    row-gap: var(--spacing-200);
  }
}
.product__gallery[data-image="0"] .product__images .thumbnail-container:nth-of-type(1) {
  border: 2px solid var(--orange-500);
  position: relative;
  overflow: hidden;
}

.product__gallery[data-image="0"] .product__images .thumbnail-container:nth-of-type(1) img {
  border-radius: 0;
}

.product__gallery[data-image="0"] .product__images .thumbnail-container:nth-of-type(1):before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  width: 100%;
  height: 100%;
}

.product__gallery[data-image="1"] .product__images .thumbnail-container:nth-of-type(2) {
  border: 2px solid var(--orange-500);
  position: relative;
  overflow: hidden;
}

.product__gallery[data-image="1"] .product__images .thumbnail-container:nth-of-type(2) img {
  border-radius: 0;
}

.product__gallery[data-image="1"] .product__images .thumbnail-container:nth-of-type(2):before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  width: 100%;
  height: 100%;
}

.product__gallery[data-image="2"] .product__images .thumbnail-container:nth-of-type(3) {
  border: 2px solid var(--orange-500);
  position: relative;
  overflow: hidden;
}

.product__gallery[data-image="2"] .product__images .thumbnail-container:nth-of-type(3) img {
  border-radius: 0;
}

.product__gallery[data-image="2"] .product__images .thumbnail-container:nth-of-type(3):before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  width: 100%;
  height: 100%;
}

.product__gallery[data-image="3"] .product__images .thumbnail-container:nth-of-type(4) {
  border: 2px solid var(--orange-500);
  position: relative;
  overflow: hidden;
}

.product__gallery[data-image="3"] .product__images .thumbnail-container:nth-of-type(4) img {
  border-radius: 0;
}

.product__gallery[data-image="3"] .product__images .thumbnail-container:nth-of-type(4):before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  width: 100%;
  height: 100%;
}

.product__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--spacing-400);
}
.product__images img {
  border-radius: 1rem;
}

.product__gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 44.5rem auto;
  row-gap: var(--spacing-400);
}
.product__gallery img {
  display: inline-block;
  width: 100%;
}

.product__main-image {
  overflow: hidden;
  border-radius: 1.5rem;
  cursor: pointer;
}
.product__main-image img {
  border-radius: 1.5rem;
}

.thumbnail-container {
  display: flex;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.thumbnail-container:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.move-image {
  display: none;
}

@media only screen and (max-width: 56em) {
  .product__images {
    display: none;
  }
  .product__gallery {
    grid-template-rows: 29rem auto;
    row-gap: var(--spacing-0);
  }
  .product__main-image {
    position: relative;
  }
  .product__main-image img {
    height: 29rem;
    object-fit: cover;
  }
  .product__main-image .move-image {
    display: flex;
    width: 100%;
    height: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .product__main-image .move-image .prev-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 2.8rem;
    background-color: var(--white);
    left: 1.6rem;
    z-index: 100;
  }
  .product__main-image .move-image .prev-image span {
    mask-image: url("/images/icon-previous.svg");
    background-color: var(--grey-950);
    display: inline-block;
    width: 1.2rem;
    height: 1.8rem;
    mask-position: center;
  }
  .product__main-image .move-image .prev-image:active span {
    background-color: var(--orange-500);
  }
  .product__main-image .move-image .next-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1.6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2.8rem;
    background-color: var(--white);
  }
  .product__main-image .move-image .next-image span {
    mask-image: url("/images/icon-next.svg");
    background-color: var(--grey-950);
    display: inline-block;
    width: 1.2rem;
    height: 1.8rem;
    mask-position: center;
  }
  .product__main-image .move-image .next-image:active span {
    background-color: var(--orange-500);
  }
}
@media only screen and (max-width: 26.5em) {
  .product__main-image {
    border-radius: 0;
  }
  .product__main-image img {
    border-radius: 0;
    height: 30rem;
  }
  .product__gallery {
    grid-template-rows: 30rem auto;
  }
  .product {
    row-gap: var(--spacing-300) !important;
  }
}
.cart-modal:open {
  max-width: 36rem;
  width: 100%;
  min-height: 25.9rem;
  background: var(--white);
  padding: 2.4rem 0;
  box-shadow: 0 20px 50px -20px rgba(29, 32, 38, 0.1);
  border-radius: 1rem;
  border: none;
  top: 6.6rem;
  inset-inline-start: unset;
  right: -7.6rem;
  display: flex;
  z-index: 1000;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  width: 100%;
}

.cart-title {
  padding-left: 1.2rem;
}

.cart-details-container {
  border-top: 1px solid var(--grey-100);
}

.cart-message--empty {
  padding-top: 7.2rem;
  justify-self: center;
}

.product-cart {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 2.4rem 0 2.4rem;
}

.btn__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-500);
  border-radius: 1rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.cart-item-details {
  display: grid;
  grid-template-columns: minmax(0, 5rem) 1fr max-content;
  column-gap: var(--spacing-200);
  align-items: center;
}
.cart-item-details img {
  width: 100%;
  border-radius: 4px;
}

.cart-item-text-container {
  display: flex;
  flex-direction: column;
}

.cart-item-price-container {
  display: flex;
  gap: var(--spacing-100);
}

.btn__delete-item {
  height: fit-content;
  background-color: transparent;
}

@media only screen and (max-width: 79.125em) {
  .cart-modal:open {
    right: var(--spacing-100);
  }
}
@media only screen and (max-width: 26.5em) {
  .cart-modal:open {
    right: var(--spacing-0);
  }
}
.light-box-modal {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  border: none;
  max-width: 55rem;
  width: 100%;
  position: absolute;
  top: 8.9rem;
  left: 50%;
  transform: translatex(-50%);
  z-index: 10;
  padding-bottom: 4rem;
}
.light-box-modal .product__main-image {
  height: 100%;
  position: relative;
  overflow: visible;
}
.light-box-modal .product__main-image .move-image {
  display: flex;
  width: 100%;
  height: 5.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.light-box-modal .product__main-image .move-image .prev-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 2.8rem;
  background-color: var(--white);
  transform: translateX(-50%);
  z-index: 100;
}
.light-box-modal .product__main-image .move-image .prev-image span {
  mask-image: url("/images/icon-previous.svg");
  background-color: var(--grey-950);
  display: inline-block;
  width: 1.2rem;
  height: 1.8rem;
  mask-position: center;
}
.light-box-modal .product__main-image .move-image .prev-image:active span {
  background-color: var(--orange-500);
}
.light-box-modal .product__main-image .move-image .next-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 2.8rem;
  background-color: var(--white);
  transform: translateX(50%);
}
.light-box-modal .product__main-image .move-image .next-image span {
  mask-image: url("/images/icon-next.svg");
  background-color: var(--grey-950);
  display: inline-block;
  width: 1.2rem;
  height: 1.8rem;
  mask-position: center;
}
.light-box-modal .product__main-image .move-image .next-image:active span {
  background-color: var(--orange-500);
}
.light-box-modal .product__gallery {
  justify-items: center;
  grid-template-rows: auto auto;
  row-gap: var(--spacing-300);
}
.light-box-modal .product__images {
  max-width: 44.8rem;
}

.backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.75);
}

.btn__close-lightbox {
  display: flex;
  justify-content: flex-end;
  width: 2rem;
  height: 2rem;
  background: var(--white);
  mask-image: url("/images/icon-close.svg");
  mask-repeat: no-repeat;
  margin-left: auto;
}

.btn__close-lightbox:active {
  background: var(--orange-500);
}

@media only screen and (max-width: 56em) {
  .backdrop {
    display: none;
  }
}
.menu-modal {
  display: none;
}

@media only screen and (max-width: 56em) {
  .menu-modal:open {
    top: 0;
    height: 100vh;
    border: 0;
    max-width: 30.1rem;
    width: 100%;
    padding: var(--spacing-600) var(--spacing-1000);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-700);
  }
  .menu-modal:open button {
    background-color: transparent;
  }
  .menu-modal:open ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }
  .menu-modal:open ul li {
    cursor: pointer;
  }
  .menu-modal:open ul li:hover {
    color: var(--orange-500);
  }
  ::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
@media only screen and (max-width: 26.5em) {
  .menu-modal:open {
    max-width: 25rem;
    padding: var(--spacing-300);
  }
}
.navigation nav li a {
  color: var(--grey-500);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.company {
  color: var(--grey-500);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.6rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 26.5em) {
  .company {
    font-size: 1.2rem;
    letter-spacing: 1.85px;
  }
}

.product__name {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 4.8rem;
}
@media only screen and (max-width: 26.5em) {
  .product__name {
    color: var(--grey-950);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 3.2rem;
  }
}
.product__description {
  color: var(--grey-500);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.6rem;
}
@media only screen and (max-width: 26.5em) {
  .product__description {
    font-size: 1.5rem;
  }
}
.product__current-price {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 3.2rem;
}
.product__actual-price {
  color: var(--grey-500);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
  text-decoration: line-through;
}
.product__discount {
  color: var(--white);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
}
.product__add-quantity {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.6rem;
}

.btn__add-cart {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.cart-title {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.cart-message--empty {
  color: var(--grey-500);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.btn__checkout {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.cart-item-name {
  color: var(--grey-500);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.cart-item-price {
  color: var(--grey-500);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.cart-item-total {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
}

.item-quantity-notification {
  color: var(--white);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: auto;
}

.menu-modal:open li {
  color: var(--grey-950);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.6rem;
}

/*# sourceMappingURL=index.css.map */
