@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFF;
    --black: #000;
    --grey-950: #131518;
    --grey-900: #262E38;
    --grey-500: #969FAD;
    --orange-500: #FC7614;

    --spacing-0: 0;
    --spacing-50: 0.6rem;
    --spacing-100: 0.8rem;
    --spacing-200: 1.6rem;
    --spacing-300: 2.4rem;
    --spacing-400: 3.2rem;
    --spacing-500: 4rem;
    --spacing-1300: 10.8rem;
    --spacing-1700: 13.6rem;

    --card-bg-color: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

html {
    font-size: 62.5%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--grey-950);

    padding-inline: var(--spacing-200);
}

.rating-card {
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    padding: var(--spacing-400) var(--spacing-300);
    background: var(--card-bg-color);
    max-width: 41.2rem;
    width: 100%;
}

.rating-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    max-width: 35.1rem;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 2.4rem;
    padding: var(--spacing-200);
    background-color: var(--grey-900);
}

.rating-texts {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--white);
}

p {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--grey-500);
}

ul {
    display: flex;
    gap: var(--spacing-300);
    list-style: none;
    flex-wrap: wrap;
}

ul button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /*padding: var(--spacing-200) var(--spacing-300);*/
    border-radius: 25.5rem;
    background-color: var(--grey-900);
    height: 5.1rem;
    width: 5.1rem;
    cursor: pointer;

    font-family: 'Overpass', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: var(--grey-500);

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

ul button:hover {
    background-color: var(--orange-500);
    color: var(--grey-900);
}

.rating-content[data-rating='1'] li:nth-child(1) button {
    background-color: var(--white);
    color: var(--grey-900);
}

.rating-content[data-rating='2'] li:nth-child(2) button {
    background-color: var(--white);
    color: var(--grey-900);
}

.rating-content[data-rating='3'] li:nth-child(3) button {
    background-color: var(--white);
    color: var(--grey-900);
}

.rating-content[data-rating='4'] li:nth-child(4) button {
    background-color: var(--white);
    color: var(--grey-900);
}

.rating-content[data-rating='5'] li:nth-child(5) button {
    background-color: var(--white);
    color: var(--grey-900);
}

.submit-btn {
    text-transform: uppercase;
    background-color: var(--orange-500);
    border-radius: 22.5rem;
    padding-top: var(--spacing-50);
    padding-bottom: var(--spacing-50);
    border: none;
    cursor: pointer;
    height: 45px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    line-height: 1.9rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--grey-950);
}

.rating-content[data-rating='1'] .submit-btn {
    background-color:var(--white);
}

.rating-content[data-rating='2'] .submit-btn {
    background-color:var(--white);
}

.rating-content[data-rating='3'] .submit-btn {
    background-color:var(--white);
}

.rating-content[data-rating='4'] .submit-btn {
    background-color:var(--white);
}

.rating-content[data-rating='5'] .submit-btn {
    background-color:var(--white);
}

.thanks-card {
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    padding: var(--spacing-500) var(--spacing-400);
    background: var(--card-bg-color);
    max-width: 41.2rem;
    width: 100%;
}

.thanks-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-400);

    max-width: 34rem;
}

.thanks-card--rating {
    display: flex;
    align-items: center;
    background-color: var(--grey-900);
    border-radius: 22.5rem;
    padding-inline: var(--spacing-200);
    height: 3.2rem;

    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--orange-500);
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    align-items: center;
}

.message-container span {
    font-family: 'Overpass', sans-serif;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--white);
}

.message-container p {
    text-align: center;

    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--grey-500);
}

.hidden {
    display: none;
}

@media only screen and (max-width: 28.75em) {
    .rating-card {
        padding: var(--spacing-300);
        max-width: 32.7rem;
        width: 100%;
    }

    .rating-content {
        gap: var(--spacing-300);
    }

    .star-container {
        height: 4rem;
        width: 4rem;
    }

    .rating-texts h1 {
        font-size: 2.4rem;
    }

    .rating-texts p {
        font-size: 1.4rem;
    }

    ul {
        gap: var(--spacing-200);
    }

    ul button {
        height: 4.2rem;
        width: 4.2rem;
    }

    .submit-btn {
        padding-top: var(--spacing-200);
        padding-bottom: var(--spacing-200);
    }

    .thanks-card {
        padding: var(--spacing-400) var(--spacing-300);
    }

    .thanks-content {
        gap: var(--spacing-300);
    }

    .thanks-content p {
        font-size: 1.4rem;
    }

    .message-container span {
        font-size: 2.4rem;
    }
}