@use "base/reset"
@use "base/typography"
@use "abstracts/placeholder"
@use "abstracts/mixins"

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap')

body
  background-color: var(--white)

.header
  @extend %flex-center
  padding: var(--space-1000) var(--space-1000) 0 var(--space-1000)


.hero-section
  max-width: 144rem
  margin-inline: auto
  padding:
    top: var(--space-800)
    bottom: var(--space-800)

  @include mixins.grid(repeat(3, 1fr))

  &__text
    text-align: center
    max-width: 44.8rem
    @include mixins.flex(column, var(--space-400), $align: center)


.hero-img--right
  justify-self: end

.cta
  @include mixins.flex($gap: var(--space-200))

  &--download, &--explore
    cursor: pointer
    border-radius: 9999px
    border: none
    padding: var(--space-200) var(--space-500)
    @include mixins.flex($align: center, $justify: center)

  &--download
    @include mixins.flex($gap: var(--space-50))
    background-color: var(--cyan-600)

  &--explore
    background-color: var(--purple-600)

.content-section
  padding: var(--space-700) var(--space-1000) var(--space-900) var(--space-1000)

  &__text
    max-width: 54.4rem
    text-align: center
    @include mixins.flex($direction: column, $gap: var(--space-400), $align: center)

    .heading
      max-width: 44.5rem
      @include mixins.flex($direction: column, $gap: var(--space-200))

      p
        text-transform: uppercase

.container
  margin-inline: auto
  max-width: 112rem
  @include mixins.flex($direction: column, $gap: var(--space-800), $align: center)



.step
  @extend %flex-center
  height: 5.6rem
  width: 5.6rem
  border-radius: 50%
  border: 1px solid var(--slate-300)

.step-style
  @include mixins.flex($direction: column, $align: center)

.step-style::before
    display: block
    content: ""
    width: 1px
    height: 8rem
    background-color: var(--slate-300)

.gallery
  @include mixins.grid($column: repeat(4, 1fr), $column-gap: var(--space-400))

  &--img
    width: 100%
    border-radius: 0.8rem