@use "base/reset"
@use "base/typography"
@use "abstracts/placeholder"
@use "abstracts/mixins"
@use "abstracts/variables"
@use "sass:math"

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap')

body
  background-color: var(--white)

.header
  @extend %flex-center
  padding: var(--space-1000) var(--space-1000) 0 var(--space-1000)


.hero-section
  max-width: 144rem
  margin-inline: auto
  overflow: hidden
  padding:
    top: var(--space-800)
    bottom: var(--space-800)

  @include mixins.grid($column: repeat(3, 1fr), $column-gap: 3.2rem)
  justify-content: center

  &__text
    text-align: center
    max-width: 44.8rem
    @include mixins.flex(column, var(--space-400), $align: center)

.hero-img--right
  justify-self: end

.cta
  @include mixins.flex($gap: var(--space-200))

  &--download, &--explore
    cursor: pointer
    border-radius: 9999px
    border: none
    padding: var(--space-200) var(--space-500)
    transition: background-color 0.2s
    @include mixins.flex($align: center, $justify: center)

  &--download
    @include mixins.flex($gap: var(--space-50))


  &--cyan
    background-color: var(--cyan-600)
    &:hover
      background-color: #71C0D4

  &--purple
    background-color: var(--purple-600)
    &:hover
      background-color: #B18BDD

.content-section
  padding: var(--space-700) var(--space-1000) var(--space-900) var(--space-1000)

  &__text
    max-width: 54.4rem
    text-align: center
    @include mixins.flex($direction: column, $gap: var(--space-400), $align: center)

    .heading
      max-width: 44.5rem
      @include mixins.flex($direction: column, $gap: var(--space-200))

      p
        text-transform: uppercase

.container
  margin-inline: auto
  max-width: 112rem
  @include mixins.flex($direction: column, $gap: var(--space-800), $align: center)


.step
  @extend %flex-center
  height: 5.6rem
  width: 5.6rem
  border-radius: 50%
  border: 1px solid var(--slate-300)
  background-color: var(--white)
  z-index: 10

.step-style
  @include mixins.flex($direction: column, $align: center)

.step-style::before
    display: block
    content: ""
    width: 1px
    height: 8rem
    background-color: var(--slate-300)

.gallery
  @include mixins.grid($column: repeat(4, 1fr), $column-gap: var(--space-400))

  &--img
    width: 100%
    border-radius: 0.8rem

.wrapper
  @extend %flex-center
  padding: var(--space-1400) var(--space-1000)
  margin-top: -2.8rem
  background-image: url("../assets/desktop/image-footer.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  position: relative

  &::before
    content: ""
    position: absolute
    background-color: rgba(77, 150, 169, 0.8)
    width: 100%
    height: 100%

.footer-content
  max-width: 112rem
  @include mixins.grid($column: minmax(44.5rem, 20rem) minmax(35.5rem, 20rem) 25.6rem, $column-gap: var(--space-400))
  align-items: start
  z-index: 100

  .cta--download
    justify-self: end


@media only screen and (max-width: variables.$tablet-screen)
  .hero-section
    @include mixins.grid($column: repeat(2, 1fr), $column-gap: var(--space-400), $row-gap: var(--space-900))
    grid-template-areas: 'a b' 'c c'

    &__text

      grid-area: c
      justify-self: center

  .hero-img
    &--right
      grid-area: b
      justify-self: start

    &--left
      justify-self: end

  .content-section
    padding: var(--space-700) var(--space-400) var(--space-800) var(--space-400)


  .wrapper
    padding: var(--space-800) var(--space-400)
    background-image: url("../assets/tablet/image-footer.jpg")

  .footer-content
    max-width: 50.4rem
    text-align: center
    @include mixins.flex(column, var(--space-300), $align: center)

@media only screen and (max-width: variables.$mobile-screen)
  .hero-section
    row-gap: var(--space-500)
    column-gap: var(--space-200)
    padding:
      bottom: var(--space-400)

    &__text
      max-width: 30.5rem
      row-gap: var(--space-200)

  .content-section
    padding-top: var(--space-400)

  .gallery
    @include mixins.grid($column: repeat(2, 1fr), $column-gap: var(--space-200), $row-gap: var(--space-200))

  .cta
    @include mixins.flex($direction: column)